@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



img, svg {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;

}

html, body {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

  }

h1,h2,h3,h4,h5,h5,p,ul {
    letter-spacing: 0.1rem;

}

/* Header and navbar*/

header {
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 5rem;    
    display: flex;
    padding: 0 8%;    
    justify-content: space-between;
    align-items: center;
    background-color: #0A192F;
    border-bottom: 1px solid #C8D2F2;

}

logo {
    height: auto;
    padding: 5px 0;    
}

nav {

    height: 100%;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    
}

nav ul {

    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;

}

nav ul li { 
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: #C8D2F2;
    position: relative;  
}


nav ul li a::after {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 100%;
    border-radius: 100%;
    background: linear-gradient(to right, #29B52F, #7729B5, #B52929, #B5AF29, #B5AF29, #7729B5, #7729B5);
    background-size: 200% 100%;
    bottom: 0rem;
    left: 0;
    opacity: 0.7;
    transform: scale(0, 1);
    transition: 0.2s;
}

nav ul li a:hover::after {
    transform: scale(1, 1);
}

nav ul button {    
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;    
    background-color: #4EC4B1;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 999;
    transition: ease 0.3s;    
}

nav ul button:hover {
    scale: 1.1;
}


nav ul button a {
    text-decoration: none;
    font-weight: bold;
    color: #0A192F;
    z-index: 999;
}

.hamburger {
    display: none;
    position: relative;
    width: 2rem;
    height: 2rem;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: 0.1s ease-in-out;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: #C8D2F2;
    border-radius: 9999px;
}



/*Hero section*/

.helper {
    width: 100%;
    height: 5rem;
}

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0A192F;
    overflow: hidden;
}

.hero-section-content {
    position: absolute;
    top: 50%;
    left: 8%;
    overflow: hidden;
    z-index: 3;
}

.hero-section-content p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-section h1,
.hero-section h2 {
    color: #C8D2F2;
}

.hero-section h1 {
    font-size: 2.5rem;
}

.hero-section h2 {
    margin-top: 1.6rem;
}

.image-container {
    position: absolute;
    top: -20rem;
    width: 50rem;
    height: 180vh;  
    padding: 0;
    right: 5%;      
    background: url('data:image/svg+xml,<svg width="1834" height="3116" viewBox="0 0 1834 3116" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_174_19)"><path d="M1329.82 314.239L1613.53 341.911L1413.12 2895.7L1129.41 2868.02L1329.82 314.239Z" fill="%23B52929"/><rect width="363.601" height="2608.1" transform="matrix(0.911772 0.410697 -0.340713 0.940167 1108.61 220)" fill="%23B5AF29"/><rect width="361.017" height="2580.23" transform="matrix(0.958161 0.286231 -0.233686 0.972312 1160.97 253.965)" fill="%2329B52F"/><rect width="275.919" height="2555.97" transform="matrix(0.98122 0.19289 -0.156217 0.987723 1253.92 286.566)" fill="%237729B5"/></g><defs><filter id="filter0_f_174_19" x="0" y="0" width="1833.53" height="3115.7" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="110" result="effect1_foregroundBlur_174_19"/></filter></defs></svg>');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;


}



/* Skills section */

.skills {
    width: 100%;
    padding: 6rem 8%;
    min-height: 35rem;
    display: flex;    
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;    
    gap: 3rem;
    background-color: #C8D2F2;
        
}



.skills-content {    
    max-width: fit-content;
    display: flex;
    flex-direction: column;       
}


.skills-content h2,
.skills-content h3 { 
    color: #0A192F;
}

.skills-content h3 {
    margin-top: 6.2rem;
    line-height: 2rem;
}



.skills-wrapper {    
    max-width: 52rem;
    padding-inline: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;    
    gap: 2.5rem;    

}

.skills-wrapper-upper,
.skills-wrapper-lower {
    display: flex;     
    gap: 2.5rem;

}

.skills-wrapper-upper {
    align-self: flex-start;    
}

.skills-wrapper-lower {    
    align-self: flex-end;
}




.skills-wrapper-card {    
    min-width: 10rem;
    min-height: 9rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    background-color: #0A192F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4EC4B1;
    box-shadow: 8px 8px 8px 0px #4D4D4D;
}

.card-svg {
    max-height: 100%;
    max-width: auto;
    object-fit: cover;
}


.card-svg svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width: 1567px) {

    .skills-content h3 {
        margin-top: 3rem; 
    }    
    .skills-wrapper {
        margin-left: auto;
    }
}


/* Works section */

.works {    
    padding: 6rem 8%;    
    background-image: url(resources/Works.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


.works h2 {
  display: flex;
  justify-content: flex-end;
}

.works-content-current {
   background: #695078;
}

.works-scroller {
    margin-top: 3rem;
    height: 75vh;

    border-radius: 16px;
    border: 3px solid #0a192f4e;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;    
    position: relative;
    z-index: 0;
    box-shadow: 8px 8px 8px 0px #4D4D4D;
}




.works-scroller::-webkit-scrollbar {
    height: 2.2rem;    
    cursor: pointer;
    
}

.works-scroller::-webkit-scrollbar-track {
    height: 2.2rem;
    background-color: #C8D2F2;
    
    border-radius: 0 0 12px 12px;

}

.works-scroller::-webkit-scrollbar-thumb { 
    height: 2.2rem;    
    background: #0A192F;
    border-radius: 0 0 12px 12px;
    
}


.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.works-aequilibrum {
    display: grid;
    
    min-height: 100%;
    width: 100%;    
    background-image: linear-gradient(to bottom right,  #695078, #9675AE, #C7A8D1);
    margin-bottom: 1rem;
}

.works-giotur {
    display: grid;
    min-height: 100%;
    width: 100%;
    background-color:#4EC4B1;
    margin-bottom: 1rem;
}


/* About me section */

.about-me-section {
    width: 100%;
    
    min-height: 42rem;
    background-color: #0A192F;

}

.about_me_bg {
    width: 40rem;
    height: 40rem;

    float: left;
    
    margin-bottom: 2rem;
    position: relative;
}

.about_me_photo {
    z-index: 1;
    max-width: 100%;
    max-height: 100%;


}



.about_me_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 101%;
    z-index: 2;    
    background: linear-gradient(to bottom,#0a192f08, #0a192fc7 76%, #0a192feb 86%,#0A192F 100%);
    
}

@media screen and (max-width:60rem) {
    .about_me_bg{
        width: 25rem;
        height: 25rem;
    }
}

.about-me-section-content {
    padding: 6rem 8% 6rem 08%;
    width: auto;
    z-index: 4;
    flex: 1 1;

}

.about-me-section-content h3,
.about-me-section-content h2 {
    color: #4EC4B1;
}

.about-me-section-content h3 {
    margin-top: 3.2rem;
}

/* Contact section */

.contact {
    width: 100%;
    height: auto;
    display: flex;
    padding: 6rem 8%;
    align-items: center;
    background-color: #C8D2F2;
    position: relative;
    z-index: 1;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(at 10% 0, #29B52F , #7729B5 , #B52929 ,#B5AF29 );    
    background-repeat: no-repeat;
    opacity: .2;
    z-index: 1;
}

.contact-content {
    z-index: 2;
}

.contact-content h2,
.contact-content h3 {
    color:#0A192F;

}

.contact-content h3 {
    margin-top: 3.2rem;
}

.contact-social {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;

}

.contact-social-container {
    display: flex;    
    align-items: center;
    gap: 2rem;
}

.contact-social-container a {
    text-decoration: none;
    color: #0A192F;
    position: relative;
}



.contact-social-container a::after {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 100%;
    border-radius: 100%;
    background: linear-gradient(to right, #29B52F, #7729B5, #B52929, #B5AF29, #B5AF29, #7729B5, #7729B5);
    background-size: 200% 100%;
    bottom: 0rem;
    left: 0;
    opacity: 0.7;
    transform: scale(0, 1);
    transition: 0.2s;
}

.contact-social-container a:hover::after {
    transform: scale(1, 1);
}


/* General medias*/

@media screen and (max-width:670px) {
    
    /* Navbar*/
    nav ul {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    /*Hero section*/

    .hero-section {
        height: 85vh;
    }

    .hero-section-content {
        top: 40%;
        left: 8%;
    }

    .image-container {
        right: -3rem;
  
    }



    /* Skills section*/

    .skills-wrapper {
        width: 100%;
        justify-content: space-between;
        align-items: space-between;
        
    }

    .skills-wrapper-upper,
    .skills-wrapper-lower {
        gap: none;


        justify-content: space-between;
        
        align-self: center;

    }

  
    .skills-wrapper-card {    
        min-width: 5.7rem;
        max-width: 5.7rem;
        min-height: 7.8rem;
        justify-content: space-between;
  
    }

    .skills-wrapper-card svg {
        height: 40px;

    }

    .skills-wrapper-card h3 {
        font-size: .83rem;

    }


    /*About me section*/

    .about_me_bg {
        width: 10rem;
        height: 10rem;
        margin-top: 6rem;
        margin-left: 8%;
        overflow: hidden;
        border-radius: 8px;
        margin-right: 3rem;

    }

    .about_me_bg::before {
        background: none;
    }

    .about_me_photo {
        border-radius: 8px;
        transform: scale(3.2, 3.2);
        transform-origin: 53% 8%;
    
        
    }


    /* Contact me section*/

    .contact {
        flex-direction: column;
    }

    .contact-social {
        padding: 5rem 0 0 0;
    }
}
